<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @userToReset.firstname %>,</h1>
    <p>
      Follow this link to reset your account password: <a href="<%= @resetUrl %>">Reset password</a>.
    </p>
    <p>If you didn't ask to reset your password, simply ignore this message.</p>
  </body>
</html>