<%= image_tag "logo.svg", size: "150x150" %>
<div class="login">
  <div class="flex flex-space-between">
    <div>
        <h1>User created</h1>
        <div>
            <p>
                We sent you a confirmation email. Please confirm your email before login in.
            </p>
        </div>
        <div style="margin-left:5%;">
            <%= link_to "Back", root_path, class: "linkto" %>
        </div>
    </div>
    <%= image_tag "coins.png" %>
  </div>
</div>