* {
  font-family: 'Nunito', sans-serif;
  color: #333;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

b, span {
  display: inline-block;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.container.wide {
  max-width: 1200px;
}

.bg-art {
  background-image: url(asset_path('background.png'));
  background-repeat: repeat;
}

.bg-gray {
  background: #EEF0F5 !important;
}

.bg-art-2 {
  background-image: url(asset_path('background_2.jpg'));
  background-repeat: repeat;
}

.top-border {
  border-top: medium solid #b8b4b4
}

.bg-gray-slight-contrast {
  background: #fbfbfb !important;
}
a {
  color: #333;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #000;
    font-weight: 600;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.Details {
  background: #EEF0F5;
  max-width: 600px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px #d0d0d0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  p{
    margin: 30px;
    font-size: larger;
  }

  form {
    width: 60%;
  }

  img {
    border-radius: 10px;
  }
}

.requestsBox {
  border: 2px solid #eef0f55c;
  background-color: #EEF0F5;
  width: 30vw;
  min-height: 10vh;
  border-radius: 35px;
  padding-top: 1.7vh;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top:-10vh;
}

.requestsText {
  font-size: 1.9vh;
  font-weight: bold;
}