.month-container {
    display: flex;
}

.previous-months {
    width:30%;
    margin-right:10%;
    margin-left:10%;
    text-align: center;
}

.upcoming-months {
    width:30%;
    margin-right:10%;
    margin-left:10%;
    text-align: center;
}