.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;

  caption {
    font-weight: 900;
    font-size: larger;
  }

  th {
    font-weight: 900;
  }

  th, td {
    border-bottom: 2px solid lightgray;
    padding: 15px;
  }

  tr:last-child td {
    border-bottom: none;
  }
}
