// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* The container-checkbox */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    background-color: #68bc4c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .no-resize {
    resize: none;
  }

  .tasks-page {
    display: flex;
    margin-bottom: 25vh;
  }

  .task-filer-box {
    position: relative;
    background-color: #fbfbfb;
    width: 16vw;
    border: 1px solid #EEF0F5;
    min-height: 300px;
    margin-right: 3vw;
    margin-top: 2vh;
    margin-left:3vw;
    border-radius: 30px;
    padding-bottom: 3vh;
  }

  .task-filter-title {
    height: 7vh;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    background-color: #EEF0F5;
    text-align: center;
    padding-top: 6%;
    color: black;
    font-size: 30px;
    font-weight: bold;
  }

  .task-filter-title-text {
    color: white;
    font-size: 20px;
  }

  .task-list {
    width: 56vw;
  }

  .flex-box {
    display: flex;
    padding-left: 1.5vw;
  }

  .filter-button {
    width: 30px;
    border-radius: 40px;
    width: 85%;
    margin-top: 3vh;
    font-size: 1.2vw;
    background-color: white;
    user-select: none;
    display: flex;
    box-shadow: 1.5px 1.5px rgba(200, 200, 200, .5);
  }

  .filter-button:hover {
    width: 30px;
    border-radius: 40px;
    width: 85%;
    margin-top: 3vh;
    font-size: 1.2vw;
    background-color: whitesmoke;
    user-select: none;
    display: flex;
    box-shadow: 1.5px 1.5px rgba(200, 200, 200, .5);
  }

  .filter-button-icon {
    width: 25%;
  }

  .filer-button-icon-green {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    background-color: #68bc4c;
    margin-left: 2vw;
    margin-top: 0.55vh;
    color: white;
    text-align: center;
    font-size: 0.7vw;
  }

  .filer-button-icon-empty {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    background-color: gainsboro;
    margin-left: 2vw;
    margin-top: 0.55vh;
  }

  .filter-button-text {
    width: 70%;
    text-align: center;
    word-wrap: break-word;
    padding-right: 0.5vw;
  }
  
  .button-sort {
    border: 2px solid #b5d0e2;
    background-color: white;
    border-radius: 50px;
  }

  .button-sort:hover {
    background-color: #f5f5f5;
  }

  .button-1 {
    height: 100%;
    width: 11%;
  }

  .button-2 {
    margin-left: 2%;
    height: 100%;
    width: 11%;
  }

  .button-3 {
    margin-left: 2%;
    height: 100%;
    width: 11%;
  }

  .btn-showdone {
    margin-top: 40px;
    height: 40px;
    width: 15%;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .stripe {
    color: white;
    background-color: rgb(245, 245, 245);
  }